.main-nav__toggle {
  position: absolute;
  top: 13px;
  left: 20px;
  padding: 0;
  width: 20px;
  height: 13px;
  background-color: $backgroud-color;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    opacity: 0.5;
  }

  @media (min-width: $desctop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    width: 17px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    height: 100vh;
    width: 270px;
    top: 40px;
    left: 0;
    z-index: 10;
    background-color: $backgroud-color;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  display: block;
}

.main-nav--nojs .site-list__link {
  padding: 20px;
  text-align: center;
}
