.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1,
h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  @media (min-width: $desctop-width) {
    font-size: 27px;
    line-height: 64px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
