$gothampro: "Gotham Pro Black", "Arial", sans-serif;
$color-text: #ffffff;
$color-link: #ffffff;
$color-text-another: #999999;
$color-green: #21a038;
$color-another: #ff8345;
$btn-bg-color: #dd3037;
$btn-bg-color-active: #901016;
$backgroud-color: #111311;
$backgroud-color-another: #212121;
$phone-width: 360px;
$desctop-width: 1440px;
$mobile-width-only: 1439px;
